nltk
numpy
pandas
scipy
semantic-text-similarity
sentence-transformers
streamlit
torch
transformers
tqdm
scikit-learn
matplotlib
wordcloud
joblib
seaborn
awesome_streamlit
openai
sqlalchemy
pymysql