nltk==3.5
numpy
pandas
scipy
semantic-text-similarity
sentence-transformers
streamlit
torch
transformers
tqdm
scikit-learn==1.1.0
matplotlib
wordcloud
joblib
seaborn
awesome_streamlit
